<div style="text-align: center;">
  @for (pregunta of getPreguntas(); track $index) {
  <div>
    <ul>
      <p>{{($index+1)+": "+ pregunta.pregunta }}</p>
      <ul>
        @for (respuesta of pregunta.respuestas; track $index) {
        <br>
        <li>{{ respuesta }}</li>
        }
      </ul>
      <br />
      <input type="text" placeholder="Introduce tu respuesta" #respuestaInput />
      <button (click)="verificarRespuesta(pregunta.pregunta, respuestaInput.value)">
        Verificar
      </button>
      @if (pregunta.resultMessage) {
      <p [ngClass]="{
        correct: pregunta.resultMessage === ('¡Correcto! Has acertado.'),
        incorrect: pregunta.resultMessage === ('Incorrecto. La respuesta correcta es: ' +
        pregunta.respuestaCorrecta)
      }">
        {{ pregunta.resultMessage }}
      </p>
      }
    </ul>
  </div>
  }
</div>