<div style="text-align: center;">
  @for (pregunta of getPreguntas(); track $index) {
  <div>
    <ul>
      <p>{{ pregunta.pregunta }}</p>
      <ul>
        @for (respuesta of pregunta.respuestas; track $index) {
        <li>{{ respuesta }}</li>
        }
      </ul>
      <br />
      <input type="text" placeholder="Introduce tu respuesta" #respuestaInput />
      <button (click)="verificarRespuesta(pregunta.pregunta, respuestaInput.value)">
        Verificar
      </button>
      @if (pregunta.resultMessage) {
      <p [ngClass]="{
                correct: pregunta.resultMessage.includes('Correcto'),
                incorrect: pregunta.resultMessage.includes('Incorrecto')
              }">
        {{ pregunta.resultMessage }}
      </p>
      }
    </ul>
  </div>
  }
</div>